.container
  display: flex
  width: 80vw
  margin: auto
  height: 80vh
  @media (min-width: 320px) and (max-width: 587px)
    height: 100vh
  @media (orientation: landscape)
    height: 100vh
    overflow: hidden
  
  &-left,
  &-right
    width: 50%
    @media (min-width: 320px) and (max-width: 587px)
      width: 100%
    @media screen and (max-width:750px) and (orientation: landscape)
      margin-bottom: 23vh
      overflow: scroll
  
  &-left
    @media (min-width: 320px) and (max-width: 587px)
      display: none

  &-left
    background-image: url(../img/cover.jpg)
    height: 100%
    background-position: right center
    background-size: contain
    background-repeat: no-repeat


  &-right
    margin-left: 60px
    display: flex
    align-items: center
    
    @media (min-width: 320px) and (max-width: 450px)
      margin-left: 0
      text-align: center
      justify-content: center


.content-wrapper
  display: block
  width: 100%
  margin-left: auto
  margin-right: auto
  @media screen and (max-width:750px) and (orientation: landscape)
    height: 80vh
    margin-top: 40vh
      