.formulir
  display: block
  position: relative
  width: 328px
  margin-left: auto
  margin-right: auto
  @media (min-width: 320px) and (max-width: 587px)
    width: 100%
  &-style
    position: relative
    display: inline-block
    border: none
    border-bottom: 1px solid #707070
    padding: 0 17px 5px
    width: 100%
    margin-bottom: 10px
    border-radius: 0
    &:focus
      outline: none
      border-color: red
      transition: .2s all ease-in
    
  &-input
    @extend .formulir-style
    height: 40px

  &-button
    display: block
    margin: 30px auto 0
    background: none
    transition: .2s all ease-in-out
    &:hover
      transition: .2s all ease-in-out
      background: red
      color: #fff
    